@font-face {
  font-family: 'Heuristica';
  font-style: normal;
  font-weight: 400;
  src: local('Heuristica'), local('Heuristica-Regular'), url('https://mikjakrych.github.io/heuristica/Heuristica-Regular.otf') format('otf');
}
